/*
Crimson #BA0B0D
Dark Red #93090A
Antique White #FADDDD
Pale Violet Red #DE9291
Indian Red #D3686A
 */

.root{

    -fx-background-color: radial-gradient(radius 20px, hotpink, lightpink);
}

#mainMenu{

    -fx-background-image: url("/resources/Images/redCovidLogo.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: stretch;
}

#aboutMenu{

    -fx-background-image: url("/resources/Images/redVirusVector.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: stretch;
}

#aboutMenu .label{

    -fx-font-size: 150%;
    -fx-font-weight: bold;
    -fx-text-fill: #DE9291;
}

#chooseMenu{

    -fx-background-image: url("/resources/Images/redBackground2.jfif");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: stretch;
}

#instructionsMenu{

    -fx-background-image: url("/resources/Images/covidInstructions.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: stretch;
}


#instructionsText{

    -fx-font-size: 150%;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#playMenu{

    -fx-background-image: url("/resources/Images/redBackground1.jfif");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: stretch;
}

#playMenuLabel{

    -fx-font-size: 130%;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/****************************************************************

  General Button and Menu bar Skin

****************************************************************/

.button{
    
    -fx-font-weight: bold;
    -fx-font-size: 130%;
    -fx-text-fill: #520201;
    
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, #D3686A 40%, #BA0B0D, #93090A);
    -fx-effect: dropshadow(gaussian, black, 30.0, 0.5, 0.0, 0.0);
}


.button:hover{
    -fx-text-fill: #DE9291;
}

.menu-bar,
.menu-item{

    -fx-border-style: solid;
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, #D3686A 40%, #BA0B0D, #93090A00);
}

.menu-bar{
    -fx-effect: dropshadow(gaussian, black, 30.0, 0.5, 0.0, 0.0);
}
.menu-item{
    -fx-effect: dropshadow(gaussian, black, 5.0, 0.5, 0.0, 0.0);
}

.menu-bar .label{

    -fx-font-weight: bold;
    -fx-font-size: 130%;
    -fx-text-fill: #520201;
}

.menu-bar .menu:hover,
.menu-bar .menu:showing{
    -fx-background-color: transparent;
}
.context-menu{
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, black, 10.0, 0.5, 0.0, 0.0);
}

.menu-bar .label:hover,
.menu-item:hover .label{

    -fx-text-fill: #DE9291;
}

/****************************************************************

  Instructions Button and Menu bar Skin

****************************************************************/

#instructionsMenu .button{

    -fx-font-weight: bold;
    -fx-font-size: 130%;
    -fx-text-fill: midnightblue;

    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, lightskyblue 40%, royalblue, darkblue);
    -fx-effect: dropshadow(gaussian, black, 30.0, 0.5, 0.0, 0.0);
}

#instructionsMenu .button:hover{

    -fx-text-fill: steelblue;
}

#instructionsMenu .menu-bar,
#instructionsMenu .menu-item{

    -fx-border-style: solid;
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, lightskyblue 40%, royalblue, darkblue);
}
#instructionsMenu .menu-bar{

    -fx-effect: dropshadow(gaussian, black, 30.0, 0.5, 0.0, 0.0);
}
#instructionsMenu .menu-item{

    -fx-effect: dropshadow(gaussian, black, 5.0, 0.5, 0.0, 0.0);
}
#instructionsMenu .menu-bar .label{

    -fx-font-weight: bold;
    -fx-font-size: 130%;
    -fx-text-fill: midnightblue;
}

#instructionsMenu .menu-bar .label:hover,
#instructionsMenu .menu-item:hover .label{

    -fx-text-fill: steelblue;
}

/****************************************************************

  Alert Skin

****************************************************************/

.Alert{
    -fx-background-color: black;
}

.Alert .label{
    -fx-text-fill: white;
}
.Alert .header-panel{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.Alert .button{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box, #93090A, 30.0, 0.0, 0.0, 0.0);
}

.winAlert{
    -fx-background-image: url("/resources/Images/heart2.jpg");
}
.winAlert .label{
    -fx-font-size: 150%;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.winAlert > .header-panel{
    -fx-background-color: black;
}

.winAlert .header-panel .label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.winAlert .button{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box, green, 30.0, 0.0, 0.0, 0.0);
}

/****************************************************************

  ScrollBar Skin

****************************************************************/

.scroll-bar{
    -fx-background-color: #3C0404;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: #891F22;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #891F22;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #B62933;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #F1787A;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: #891F22;
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #891F22;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #891F22;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #891F22;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,#3C0404,#3C0404;
}


.scroll-pane{
    -fx-background-color: transparent;
}
.scroll-pane > .viewport{
    -fx-background-color: transparent;
}
.scroll-pane > .corner{

    -fx-background-color: transparent;
}
